.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 300px;
  height: fit-content;
  margin-block: 20px;
  border: whitesmoke 1px solid;
  border-radius: 5px;
  box-shadow: 4px 4px 5px 0px rgba(192, 187, 187, 0.76);
  -webkit-box-shadow: 4px 4px 5px 0px rgba(192, 187, 187, 0.76);
  -moz-box-shadow: 4px 4px 5px 0px rgba(192, 187, 187, 0.76);
}
.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-top: 60px;
  padding-bottom: 10px;
}
.avatar {
  max-width: 120px;
  background-color: gainsboro;
  border-radius: 50%;
  margin-bottom: 25px;
}
.name {
  font-size: 22px;
  font-weight: 700;
  padding-bottom: 10px;
}
.tag,
.location {
  font-size: 16px;
  font-weight: 500;
  color: darkgray;
  padding-bottom: 2px;
}
.stats {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 60px;
  margin-top: 20px;
  background-color: #ececec;
  font-size: 16px;
  font-weight: 500;
  color: rgb(126, 126, 126);
}

.statsElement {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e9e9e9;
  border: #d4d4d4 1px solid;
  width: 33.3%;
  height: 100%;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  font-weight: 400;
}
.quantity {
  font-size: 16px;
  font-weight: 700;
  color: rgb(24, 24, 24);
}
