.statistics {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 350px;
  margin: 20px auto;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px rgba(181, 181, 181, 0.75);
  -webkit-box-shadow: 0px 0px 10px 0px rgba(181, 181, 181, 0.75);
  -moz-box-shadow: 0px 0px 10px 0px rgba(181, 181, 181, 0.75);
}

.title {
  font-size: 22px;
  padding-block: 10px;
}
.statList {
  display: flex;
  flex-direction: row;
  width: 100%;
  color: rgb(247, 247, 247);
}
.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-block: 5px;
  border: 1px whitesmoke solid;
}
.label {
  font-size: 12px;
  font-weight: 400;
  text-shadow: -1px 0 rgba(100, 100, 100, 1), 0 1px rgba(100, 100, 100, 1),
    1px 0 rgba(100, 100, 100, 1), 0 -1px rgba(100, 100, 100, 1);
}
.percentage {
  font-size: 18px;
  font-weight: 500;
  text-shadow: -1px 0 rgba(100, 100, 100, 1), 0 1px rgba(100, 100, 100, 1),
    1px 0 rgba(100, 100, 100, 1), 0 -1px rgba(100, 100, 100, 1);
}
